<!-- <h2>Register</h2>
<form method="post">
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}

            {% for error in field.errors %}
                <p style="color:red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}

    <button type="submit">Register</button>
</form> -->

{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </head>
    <body>
        <div class="form">
            <form class="form-horizontal signup" method="post">
                {% csrf_token %}
                <div class="form-wrap" style="position: relative;">
                    <h2>Register</h2>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.email|add_class:"form-control"|attr:"placeholder:Email Address"}}
                            <!-- <input class="form-control" id="name" type="text" required="" autofocus="" title="" autocomplete="" placeholder="Email Address"> -->
                            <i class="fa fa-envelope"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.first_name|add_class:"form-control"|attr:"placeholder:First Name"}}
                            <!-- <input class="form-control" id="name" type="text" required="" autofocus="" title="" autocomplete="" placeholder="Your name"> -->
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.last_name|add_class:"form-control"|attr:"placeholder:Last Name"}}
                            <!-- <input class="form-control" id="name" type="text" required="" autofocus="" title="" autocomplete="" placeholder="Your name"> -->
                            <i class="fa fa-user"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.phone|add_class:"form-control"|attr:"placeholder:Phone Number"}}
                            <!-- <input class="form-control" id="mobile" type="number" required="" autofocus="" title="" autocomplete="" placeholder="Mobile"> -->
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.password1|add_class:"form-control"|attr:"placeholder:Password"}}
                            <!-- <input id="myinput" class="form-control" type="password" required="" placeholder="Password"> -->
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="relative">
                            {{registration_form.password2|add_class:"form-control"|attr:"placeholder:Confirm Password"}}
                            <!-- <input id="myinput" class="form-control" type="password" required="" placeholder="Password"> -->
                            <i class="fa fa-key"></i>
                        </div>
                    </div>    
                    <!-- <span class="pull-right"><small><a href="#" id="showhide">show / hide</a></small></span> -->
                           
                    <div class="login-btn">
                        <a href="#"><button class="movebtn movebtnsu" type="Submit">Submit <i class="fa fa-fw fa-paper-plane"></i></button></a>
                        <div class="relative"><hr><span class="login-text">or signup with</span></div>
                        <div class="clearfix"></div>
                        <div class="social-btn clearfix">
                            <a href="#"><button class="movebtn google" type="Submit">Google <i class="fa fa-fw fa-google"></i></button></a>
                            <a href="#"><button class="movebtn facebook" type="Submit">Facebook <i class="fa fa-fw fa-facebook"></i></button></a>
                        </div>
                    </div>
                </div>
                <div class="sign-up">
                  <a href="{% url 'login' %}" class="signbtn"><small>Already member? Sign in <i>(Click me)</i></small></a>
                </div>
            </form>
        </div>
        <!-- <script src="{% static 'js/signin.js' %}"></script> -->
    </body>
</html>    

<!-- <h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form> -->